:root{
    --primary-color: #0369A1;
   
     --primary-dark: #1f2937;
  

}
 .navigation {
     background-color: var(--primary-color);
     color: white;
     padding: 1rem 1rem;
     border-bottom-left-radius: 1rem;
 }

 .navigation .link {
   text-decoration: none;
   color: white;
   padding: 0.5rem;
 }

 
 .heading {
   margin-top: 2rem;
   text-align: center
 }

 

body{
  background-color: var(--primary-dark);
  color: var(--primary-color)
}

.container{
  
  margin: auto;
  width: 50%;
  
 }
.heading {
margin: 2rem;
text-align: center;


}

input,label{
  display: block;
}

input{
  margin-bottom: 1rem;
  width: 100%;

} 

#check-button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-width: medium;
  padding: 0.5rem;
  border-radius: 0.5rem;

}  