:root{
    --primary-color: #0369A1;
   
     --primary-dark: #1f2937;
}
body{
  background-color: var(--primary-dark);
  color: var(--primary-color)
}

 nav {
     background-color: var(--primary-color);
     color: white;
     padding: 1rem 1rem;
     border-bottom-left-radius: 1rem;
 }

 .heading {
  margin-top: 2rem;
  text-align: center
}

 nav .link {
   text-decoration: none;
   color: white;
   padding: 0.5rem;
 }


section{
  
  margin: auto;
  width: 50%;
}  


input, label{
  display: block;
}

input{
  margin-bottom: 1rem;
  width: 100%;
} 

#check-button {
  display: block;
  margin: auto;
  margin-top: 1rem;
  background: transparent;
  color: var(--primary-color);
  border-color: var(--primary-color);
  border-width: medium;
  padding: 0.5rem;
  border-radius: 0.5rem;
}  